ul{
	list-style: none;
}
li{
	color: blue;
}
.teqst{
	color: green;

}
ul{
	font-size: 20px;
}
p{
	font-size: 30px;
	margin-left: 30px;
	color: blue;
	border: solid;
	border-width: 5px;
	border-color: green;
	padding-left: 5px;
}
.test{
	border: none;
}
.test1{
	color: blue;
	margin bottom: 50px;
	text-align: center;
	border: none;
}